.download {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 950px;

        @media (max-width: 1024px) {
            justify-content: space-around;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 25px;
        }
    }

    padding: 62px 0;
    background-color: #312F30;

    // .download__title

    &__title {
        font-size: 40px;
        font-weight: 500;

        @media (max-width: 670px) {
            font-size: 30px;
        }
    }
}
