.food-list {
    padding: 115px 0px 102px;

    @media (max-width: 1024px) {
        padding: 100px 0px;
    }

    @media (max-width: 569px) {
        padding: 70px 0px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 849px) {
            justify-content: space-evenly;
        }
    }

    &__text-wrapper {
        padding: 28px 19px 35px;
    }
    // .food-list__card

    &__card {
        border-radius: 10px;
        background-color: #312F30;
        width: 260px;
        height: 323px;
        overflow: hidden;
        text-align: center;
    }

    // .food-list__img

    &__img {
        width: 262px;
        height: 175px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }

    // .food-list__title

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 13px;
    }

    // .food-list__desc

    &__desc {
        font-size: 16px;
    }
}

