.product {
    padding: 150px 0px;

    @media (max-width: 1024px) {
        padding: 100px 0px;
    }

    @media (max-width: 670px) {
        padding: 70px 0px;
    }

    @media (max-width: 569px) {
        padding: 70px 0px 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    // .product__card
    &__card-1 {
        background-image: url("../img/product-1.jpg");
        padding: 65px 20px 62px 290px;
    }
    &__card-2 {
        background-image: url("../img/product-2.jpg");
        padding: 65px 290px 62px 30px;
    }
    &__card-3 {
        background-image: url("../img/product-3.jpg");
        padding: 65px 20px 62px 290px;
    }
    &__card-4 {
        background-image: url("../img/product-4.jpg");
        padding: 65px 290px 62px 30px;
    }

    &__card-1, &__card-3 {
        @media (max-width: 500px) {
            padding-left: 48%;
        }
    }

    &__card-2, &__card-4 {
        @media (max-width: 500px) {
            padding-right: 40%;
        }
    }

    &__card {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 555px;
        height: 300px;
        position: relative;

        > * {
            position: relative;
            z-index: 10;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        @media (max-width: 500px) {
            &::before {
                content: "";
                background-color: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    // .product__title

    &__title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    // .product__text

    &__text {
        font-size: 16px;
        margin-bottom: 11px;
    }

    // .product__price

    &__price {
        color: #F6762C;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
    }

    .btn {
        margin-top: 12px;
        font-size: 12px;
        width: 141px;
        height: 39px;
    }
}

