// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1140;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

// Colors
$mainColor: #fff;
$secondaryColor: #F6762C;
$backgroundColor: #1C1C1C;

// Fonts
$fontMain: 'Roboto', sans-serif;
$fontSecondary: '';
