.section__contact {
    background-color: $primaryBGC;
    .container {
        max-width: unset;
        width: 100%;
        //height: 762px;
        gap: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (max-width: $breakpoint860) {
            gap: 35px;
        }
        @media (max-width: $breakpoint768) {
            gap: 25px;
        }

        .title {
            margin-top: 119px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            @media (max-width: $breakpoint992) {
                margin-top: 80px;
            }
    
            @media (max-width: $breakpoint768) {
                margin-top: 60px;
                font-size: 30px;
            }
    
            @media (max-width: $breakpoint480) {
                margin-top: 40px;
                font-size: 27px;
            }
        }
        .subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: $secondary;
            width: 540px;
            @media (max-width: $breakpoint860) {
                font-size: 14px;
            }
    
            @media (max-width: $breakpoint600) {
                width: 100%;
            }
    
            @media (max-width: $breakpoint480) {
                font-size: 13px;
            }
        }
        .inputs {
            @media (max-width: $breakpoint480) {
                width: 100%;
            }
            .top-side {
                display: flex;
                gap: 30px;
                margin-bottom: 20px;
                @media (max-width: $breakpoint480) {
                    gap: 20px;
                }
            }
            .form-input {
                padding: 17px 20px;
                width: 50%;

                @media (max-width: $breakpoint480) {
                    padding: 15px 10px;
                }

                &:focus {
                    outline: none;
                }
            }

            .textarea {
                width: 100%;
                height: 175px;
            }
        }

        .btn {
            margin-bottom: 100px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.15em;
            height: 55px;
            width: 190px;
            @media (max-width: $breakpoint992) {
                margin-bottom: 80px;
                height: 45px;
                width: 205px;
            }

            @media (max-width: $breakpoint480) {
                margin-bottom: 60px;
                width: 100%;
                height: 45px;
                font-size: 15px;
            }
        }
    }    
}
