.section__projects {
    .container {
        background-color: $primaryColor;
        height: 250px;
        max-width:  unset;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint1200) {
            height: 200px;
        }

        @media (max-width: $breakpoint600) {
            height: 100%;
            padding: 40px 0px;
        }

        @media (max-width: $breakpoint480) {
            padding: 25px 0px;
        }
    }
    .projects {    
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 52px;
            flex-wrap: wrap;
            &-item {
                display: flex;
            }

            @media (max-width: $breakpoint375) {
                gap: 35px;
            }
        }
        &__left-side {
            img {

            }
        }

        &__right-side {
            margin-left: 20px;
            &-number {
                font-family: 'Roboto';
                color: #ffffff;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;

                @media (max-width: $breakpoint860) {
                    font-size: 18px;
                }

                @media (max-width: $breakpoint480) {
                    font-size: 16px;
                }
            }

            &-text {
                font-family: 'Roboto';
                color: #ffffff;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;

                @media (max-width: $breakpoint860) {
                    font-size: 14px;
                }

                @media (max-width: $breakpoint480) {
                    font-size: 13px;
                }
            }
        }
    }
}
