.tab-section {
    .tabs__nav-item + .tabs__nav-item {
        margin-left: 15px;

        @media (max-width: 660px) {
            margin-left: auto;
            margin-top: 10px;
        }
    }
    .tabs {
        
		&__nav {
            margin-bottom: 40px;

            @media (max-width: 660px) {
                margin-bottom: 30px;
            }

            &-item {
                color: #FFF;
                font-size: 16px;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 1px 30px;
                border-radius: 4px;
                background: #92A0AD;

                @media (max-width: 660px) {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    padding: 10px 30px;
                }

                @media (max-width: 400px) {
                    font-size: 14px;
                }
            }

            &-item.active {
                background-color: #2E80B6;
            }
		}

		// .tabs__item

		&__item {
            animation: fade 1s;

            &-img {
                margin-bottom: 16px;
                height: 627px;
            }
            
            &-title {
                color: $secondaryColor;
                font-size: 31px;
                line-height: 1.16;
                margin-bottom: 14px;

                @media (max-width: 660px) {
                    font-size: 24px;
                }
            }

            &-desc {
                margin: 0 auto;
                max-width: 708px;
            }
		}
    }
}
