.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: $backgroundColor;
    background-color: #192024;
    background-image: url("../img/background-img.jpg");
    background-size: cover;
    background-position: center;

    &__heading {
        color: $backgroundColor;
        font-size: 59px;
        line-height: 1.1;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 106px; 

        @media (max-width: 400px) {
            font-size: 40px;
            margin-bottom: 50px;
        }
    }

    &__links > * + * {
        margin-left: 20px;

        @media (max-width: 400px) {
            margin-top: 20px;
        }
    }

    &__links {
        .link, .link-primary {
            @media (max-width: 400px) {
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


